" from: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" see ./actionlist for all the actions, or use ideavim command: `actionlist`"

" enable key repeat for intellij
" defaults write com.jetbrains.intellij ApplePressAndHoldEnabled -bool false

let mapleader="'"
" inoremap ; <esc>
set clipboard+=unnamedplus
set hls

" turn off the annoying sound when jump to bookmark, see: http://jason-stillwell.com/blog/2013/04/11/ideavim/
set visualbell
set noerrorbells

" https://stackoverflow.com/a/74935585
" paste without yanking the deleted text
xnoremap p P


nnoremap z :action MaximizeEditorInSplit<CR>
nnoremap t :action ActivateTerminalToolWindow<CR>
nnoremap ] :action GotoImplementation<CR>
nnoremap [ :action GotoDeclaration<CR>
nnoremap I :action GotoImplementation<CR>
nnoremap f :action FindInPath<CR>
vnoremap f :action FindInPath<CR>
nnoremap R :action RunAnything<CR>
nnoremap / :action GotoUrlAction<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap r :action RunClass<CR>
" nnoremap O :action GotoFile<CR>
"nnoremap N :action NotebookInsertCellBelowToolbarAction<CR>
"nnoremap J :action StretchSplitToBottom<CR>
nnoremap K :action StretchSplitToTop<CR>
nnoremap H :action StretchSplitToLeft<CR>
nnoremap L :action StretchSplitToRight<CR>
" nnoremap H :action PreviousTab<CR>
" nnoremap L :action NextTab<CR>

nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>bk :action ToggleLineBreakpoint<CR>
nnoremap <leader>bl :action Annotate<CR>
nnoremap <leader>c :e ~/.ideavimrc<CR>
"nnoremap <leader>df :action ShowBlankDiffWindow<CR>
nnoremap <leader>er :action ShowErrorDescription<CR>
" nnoremap <leader>h :action HideAllWindows<CR>
nnoremap <leader>h :action HideActiveWindow<CR>
nnoremap <leader>d :action DebugClass<CR>
nnoremap <leader>v :action IntroduceVariable<CR>
nnoremap <leader>l :action SelectInProjectView<CR>
" nnoremap <leader>m :action ToggleBookmarkWithMnemonic<CR>
nnoremap <leader>n :action RenameElement<CR>
"nnoremap <leader>r :action RunClass<CR>
nnoremap <leader>w :action EditorToggleUseSoftWraps<CR>
nnoremap <leader>s :action GotoSymbol<CR>
nnoremap <leader>t :action GotoTest<CR>
nnoremap <leader>x :action CloseProject<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
vnoremap <leader>ev :action EvaluateExpression<CR>

" ========= TABs ============"
map <leader>mr :action MoveTabRight<CR>
" move to previous or next method
" nnoremap [[ :action MethodUp<CR>
" nnoremap ]] :action MethodDown<CR>

set easymotion

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

" Do incremental searching.
set incsearch

" Find more examples here: https://jb.gg/share-ideavimrc

" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
set ideamarks " default is true

" intellij sets bookmarks globally, this prevents jumping to bookmarks in other projects
nmap <leader>0 :action GotoBookmark0<CR>
nmap <leader>1 :action GotoBookmark1<CR>
nmap <leader>2 :action GotoBookmark2<CR>
nmap <leader>3 :action GotoBookmark3<CR>
nmap <leader>4 :action GotoBookmark4<CR>
nmap <leader>5 :action GotoBookmark5<CR>
nmap <leader>6 :action GotoBookmark6<CR>
nmap <leader>7 :action GotoBookmark7<CR>
nmap <leader>8 :action GotoBookmark8<CR>
nmap <leader>9 :action GotoBookmark9<CR>
nnoremap <C-D-v> <C-v>

" https://github.com/dbakker/vim-paragraph-motion#vim-paragraph-motion
set vim-paragraph-motion

set surround

" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#argtextobj
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>,[:]"

set multiple-cursors

" AceJump
nnoremap ; :action AceAction<CR>

nnoremap <return> :noh<return><esc>

Plug 'tpope/vim-surround'

" https://www.vim.org/scripts/script.php?script_id=2699
Plugin 'kana/vim-textobj-entire'
