" from: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" see ./actionlist for all the actions, or use ideavim command: `actionlist`"

" enable key repeat for intellij
" defaults write com.jetbrains.intellij ApplePressAndHoldEnabled -bool false

let mapleader="'"
inoremap ; <esc>
set clipboard+=unnamedplus
set hls
nnoremap <leader>ev :e ~/.ideavimrc<CR>

nnoremap <leader>F :action ActivateFindToolWindow<CR>
nnoremap <leader>b :action Annotate<CR>
nnoremap <leader>l :action SelectInProjectView<CR>
nnoremap <leader>m :action ToggleBookmarkWithMnemonic<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>x :action HideAllWindows<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>df :action ShowBlankDiffWindow<CR>
nnoremap <leader>ir :action RunClass<CR>
nnoremap <leader>id :action DebugClass<CR>
nnoremap <leader>sw :action EditorToggleUseSoftWraps<CR>

" ========= TABs ============"
" map <leader>l :action NextSplitter<CR>
map <leader>mr :action MoveTabRight<CR>
map <leader>u :action MoveEditorToOppositeTabGroup<CR>

" move to previous or next method
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" errors
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" changes
nnoremap gc :action JumpToNextChange<CR>

set easymotion

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Find more examples here: https://jb.gg/share-ideavimrc

" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
set ideamarks " default is true

" https://github.com/dbakker/vim-paragraph-motion#vim-paragraph-motion
set vim-paragraph-motion

set surround

" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#argtextobj
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>,[:]"

set multiple-cursors

" source https://youtrack.jetbrains.com/issue/VIM-542
" nnoremap g; :action JumpToLastChange<Enter>
" nnoremap g, :action JumpToNextChange<Enter>

" AceJump
nnoremap / :action AceAction<CR>

nnoremap <return> :noh<return><esc>
